<div class="card rounded-0">
    <div class="card-header bg-white">
        复选框
    </div>
    <div class="card-body">
        <ts-checkbox-group [(values)]="checkboxValue">
            <ts-checkbox *ngFor="let checkbox of checkboxs" [value]="checkbox.value" [label]="checkbox.text" color="info"></ts-checkbox>
        </ts-checkbox-group>
        <!-- <span class="ml-3">values : {{checkboxValue}}</span> -->
        <span class="pull-right">
            <button (click)="checkedAllCheckbox()" type="button" class="btn btn-info">全选</button>
            <button (click)="cancelAllCheckbox()" type="button" class="btn btn-white">清空</button>
        </span>

    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">
        单选框
    </div>
    <div class="card-body">
        <ts-radio-group [(value)]="radioValue">
            <ts-radio [value]="1" label="先生" color="info"></ts-radio>
            <ts-radio [value]="2" label="女士" color="danger"></ts-radio>
            <ts-radio [value]="3" label="保密" color="secondary"></ts-radio>
        </ts-radio-group>
        <!-- <span class="ml-3">values : {{radioValue}}</span> -->
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">
        自定义
    </div>
    <div class="card-body">
        <ts-radio-group [(value)]="radioValue">
            <div class="p-2 bg-info text-white d-inline-block">
                <ts-radio [value]="1" label="先生" color="white"></ts-radio>
            </div>
            <div class="p-2 bg-danger text-white d-inline-block">
                <ts-radio [value]="2" label="女士" color="white"></ts-radio>
            </div>
            <div class="p-2 bg-secondary text-white d-inline-block">
                <ts-radio [value]="3" label="保密" color="white"></ts-radio>
            </div>
        </ts-radio-group>
        <!-- <span class="ml-3">values : {{radioValue}}</span> -->
        <br>
        <br>
        <ts-checkbox-group [(values)]="checkboxValue">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <h4 class="card-title">
                                <ts-checkbox [value]="1" label="Apple"></ts-checkbox>
                            </h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <h4 class="card-title">
                                <ts-checkbox [value]="2" label="Banana"></ts-checkbox>
                            </h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <h4 class="card-title">
                                <ts-checkbox [value]="3" label="Carota"></ts-checkbox>
                            </h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </ts-checkbox-group>
        <!-- <span class="ml-3">values : {{radioValue}}</span> -->
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">
        按钮选项组
    </div>
    <div class="card-body">
        <ts-btn-group [items]="items" [(values)]="values" [useIcon]="true"></ts-btn-group>
        <hr>
        <div>
            <button (click)="showBtnGroupModal()" class="btn btn-info btn-sm" type="button">修改选择</button>
            <span class="ml-2">{{moreValues}}</span>
        </div>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">
        开关按钮
    </div>
    <div class="card-body">
        <ts-switch activeClass="bg-info" [(value)]="switchValue"></ts-switch>
        <ts-switch activeClass="bg-success" defaultClass="bg-danger" [values]="{open:'success',close:'danger'}" [(value)]="switchString"></ts-switch>
        <ts-switch activeClass="bg-warning" defaultClass="bg-dark" activeBarClass="bg-dark" defaultBarClass="bg-warning"></ts-switch>
        <ts-switch activeClass="bg-primary" defaultClass="bg-warning"></ts-switch>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">
        资料卡片（选择结果）
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">属性</th>
                    <th scope="col">文本</th>
                    <th scope="col">值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>性别</td>
                    <td>{{radios[radioValue-1]?radios[radioValue-1].text:'未设置'}}</td>
                    <td>{{radioValue}}</td>
                </tr>
                <tr>
                    <td>喜欢的食物</td>
                    <td>{{checkboxLables()}}</td>
                    <td>{{checkboxValue}}</td>
                </tr>
                <tr>
                    <td>按钮组</td>
                    <td>-无文本信息</td>
                    <td>{{values}}</td>
                </tr>
                <tr>
                    <td>开关按钮</td>
                    <td>{{switchString}}</td>
                    <td>{{switchValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>