<div class="bg-light pl-2">
  <div class="media mt-3 mb-3" [ngStyle]="{'padding-left':menuConfigs.titleIconWidth}">
    <img class="rounded-circle mt-2" width="40" src="/assets/image/avatar/6.jpg" alt="avatar">
    <div class="media-body pl-2">
      <p class="mt-0 mb-0"><b>Admin</b></p>
      <small>18270881855</small>
    </div>
  </div>
  <div class="menu-block" *ngFor="let main of menus;index as i">
    <div class="menu-main">
      <div class="d-table w-100" [ngStyle]="{'line-height':menuConfigs.mainMenuHeight}">
        <div class="d-table-cell text-center" [ngStyle]="{'width':menuConfigs.titleIconWidth}">
          <i class="{{main.icon}}" aria-hidden="true"></i>
        </div>
        <div class="d-table-cell">
          <span>{{main.title}}</span>
        </div>
        <div class="d-table-cell text-center" [ngStyle]="{'width':menuConfigs.angleIconWidth}">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="menu-child-block" [ngStyle]="{'line-height':menuConfigs.childMenuHeight}">
      <div class="menu-child-item" *ngFor="let child of main.chidren;index as j">
        <div class="d-table w-100">
          <div class="d-table-cell" [ngStyle]="{'width':menuConfigs.titleIconWidth}"></div>
          <div class="d-table-cell">
            <span class="text-muted">{{child.title}}</span>
          </div>
        </div>
      </div>
      <!-- <div class="menu-child-item">
        <div class="d-table w-100">
          <div class="d-table-cell" [ngStyle]="{'width':menuConfigs.titleIconWidth}"></div>
          <div class="d-table-cell">
            <span class="text-muted">Full</span>
          </div>
        </div>
      </div>
      <div class="menu-child-item">
        <div class="d-table w-100">
          <div class="d-table-cell" [ngStyle]="{'width':menuConfigs.titleIconWidth}"></div>
          <div class="d-table-cell">
            <span class="text-muted">Diy</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>