.head {
    height: 60px;
    padding: 3px;
}

.head-brand {
    padding-left: 3px;
}

.t-breadcrumb span {
    opacity: 1;
}

.t-breadcrumb span::after {
    content: '>';
}

.t-breadcrumb span:last-child {
    opacity: .8;
}

.t-breadcrumb span:last-child::after {
    content: '';
}