<nav class="navbar navbar-dark bg-info shadow-b fixed-top" [ngStyle]="{'z-index': headConfigs.zIndex}">
    <a class="navbar-brand" href="#">
        <img width="36" height="36" src="./favicon.ico" alt="tools icon"> ToolsUI
    </a>
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control border-0" placeholder="key workd..." >
            <span class="input-group-addon bg-white border-0"><i class="fa fa-fw fa-search"></i></span>
        </div>
    </form>
</nav>