<nav class="head bg-info shadow-b fixed-top text-light" [ngStyle]="{'z-index': headConfigs.zIndex}">
    <div class="head-brand d-table h-100 w-100">
        <div class="d-table-cell align-middle" style="width:40px;">
            <img src="./favicon.ico" alt="tools icon">
        </div>
        <div class="d-table-cell align-middle pl-3" [ngStyle]="{'width':headConfigs.titleWidth}">
            <h4 class="m-0">ToolsUI</h4>
        </div>
        <div class="d-table-cell align-middle p-3 t-breadcrumb">
            <span>
                <i class="fa fa-fw fa-home"></i>
                首页
            </span>
            <span>
                <i class="fa fa-fw fa-table"></i>
                表格
            </span>
            <span>
                <i class="fa fa-fw fa-tablet"></i>
                标准
            </span>
        </div>
        <div class="d-table-cell align-middle pr-2">
            <form class="form-inline pull-right">
                <div class="input-group">
                    <input type="text" class="form-control border-0 shadow-0" placeholder="key workd...">
                    <span class="input-group-addon bg-white border-0">
                        <i class="fa fa-fw fa-search"></i>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>