<div class="card rounded-0">
    <div class="card-header bg-white">默认语言为 HTML</div>
    <div class="card-body">
        <ts-prism-code [code]="html"></ts-prism-code>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">语言支持</div>
    <div class="card-body">
        <p>目前只支持
            <code>html</code>,
            <code>typescript</code>,
            <code>javascript</code>,
            <code>xml</code>,
            <code>php</code>
        </p>
        <ts-prism-code [code]="typescript"></ts-prism-code>
    </div>
</div>