<div class="card rounded-0">
    <div class="card-header bg-white">所有商品类型</div>
    <div class="card-body">
        <div>
            <div class="list-group" [sortablejs]="goods_type" [sortablejsOptions]="{ animation: 300 }">
                <div *ngFor="let type of goods_type;index as i" class="list-group-item">
                    <input [(ngModel)]="type.name" [class.border-0]="type.active" class="form-control bg-white text-dark type-input" type="text"
                        [readonly]="type.active">
                    <span class="pull-right">
                        <button *ngIf="type.active" (click)="type.active=false" class="btn btn-white btn-sm text-info" type="button">
                            <i class="fa fa-edit fa-fw"></i>编辑
                        </button>
                        <button (click)="saveType(i)" *ngIf="!type.active" class="btn btn-white btn-sm text-success" type="button">
                            <i class="fa fa-floppy-o fa-fw"></i>保存
                        </button>
                        <button (click)="deleteType(i)" class="btn btn-white btn-sm text-danger" type="button">
                            <i class="fa fa-remove fa-fw"></i>删除
                        </button>
                    </span>
                </div>
            </div>
            <div class="text-center" [class.d-none]="goods_type.length>0" ts-flash-loading #loading="tsFlash" label="加载中..." [textClass]="'text-info'"
                [bgColor]="'white'">
                暂无数据～
            </div>
        </div>
        <div class="text-right mt-2">
            <button (click)="sortType()" class="btn btn-warning" type="button">
                <i class="fa fa-refresh fa-fw"></i>确认排序</button>
            <button (click)="addType()" class="btn btn-success" type="button">
                <i class="fa fa-plus fa-fw"></i>添加种类</button>
        </div>
    </div>

</div>