<div [sortablejs]="menus" [sortablejsOptions]="{ animation: 300 }">
    <div class="card rounded-0 mb-2" *ngFor="let model of menus">
        <div class="card-header bg-white">
            <span class="text-info">{{model.title}}</span>
            <span class="pull-right">
                <button (click)="showMainMenuModal(model.id)" class="btn btn-sm btn-white text-success">
                    + 新增菜单
                </button>
                <button (click)="confrimMenuSort(model.menus)" class="btn btn-sm btn-white text-dark">
                    <i class="fa fa-refresh fa-fw"></i> 主菜单排序
                </button>
                <button (click)="showModelModal(model)" class="btn btn-sm btn-white text-info">
                    <i class="fa fa-edit fa-fw"></i> 编辑模块
                </button>
                <button (click)="deleteModelConfirm(model)" class="btn btn-sm btn-white text-danger">
                    <i class="fa fa-trash-o fa-fw"></i> 删除模块
                </button>
            </span>
        </div>
        <div class="card-body">
            <div [sortablejs]="model.menus" [sortablejsOptions]="{ animation: 300 }">
                <div class="card rounded-0 mt-2" *ngFor="let main of model.menus">
                    <div class="card-header bg-white">
                        <i class="{{main.icon}}"></i>{{main.title}}
                        <span class="pull-right">
                            <button (click)="showChildMenuModal(model.id,main.id)" class="btn btn-sm btn-white text-success">
                                + 新增菜单
                            </button>
                            <button (click)="confrimMenuSort(main.children)" class="btn btn-sm btn-white text-dark">
                                <i class="fa fa-refresh fa-fw"></i> 子菜单排序
                            </button>
                            <button (click)="showMainMenuModal(main)" class="btn btn-sm btn-white text-info">
                                <i class="fa fa-edit fa-fw"></i> 编辑菜单
                            </button>
                            <button (click)="confirmDeleteMenu(main)" class="btn btn-sm btn-white text-danger">
                                <i class="fa fa-trash-o fa-fw"></i> 删除菜单
                            </button>
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">序号</th>
                                    <th scope="col">图标</th>
                                    <th scope="col">链接</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody [sortablejs]="main.children" [sortablejsOptions]="{ animation: 300 }">
                                <tr *ngFor="let child of main.children;index as i">
                                    <td class="w-25">{{i+1}}</td>
                                    <td class="w-25">{{child.title}}</td>
                                    <td class="w-25">
                                        <a routerLink="{{child.url}}">{{child.url}}</a>
                                    </td>
                                    <td class="w-25">
                                        <button (click)="showChildMenuModal(child)" class="btn btn-sm btn-info">修改</button>
                                        <button (click)="confirmDeleteMenu(child)" class="btn btn-sm btn-danger">删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-right">
    <button (click)="showModelModal()" class="btn btn-success">
        <i class="fa fa-plus fa-fw"></i>新增菜单模块</button>
    <button (click)="confirmModelSort()" class="btn btn-warning">
        <i class="fa fa-refresh fa-fw"></i>确认模块排序</button>
</div>