<div class="fixed-top h-100 w-100">

    <form style="width:30rem" class="card rounded-0 ml-auto mr-auto mt-5">
        <div class="card-header">
            NG5-DASHBOARD
            <span class="pull-right text-muted">版本 2.0.0</span>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>管理员账户</label>
                <input type="account" name="account" [(ngModel)]="loginParams[0]" class="form-control rounded-0">
                <small class="form-text text-muted">账户为邮箱或者手机号码</small>
            </div>
            <div class="form-group">
                <label>管理员密码</label>
                <input type="password" name="password" [(ngModel)]="loginParams[1]" class="form-control rounded-0">
            </div>
            <div class="form-group">
                <input type="checkbox">
                <span class="ml-3">记住我</span>
                <span class="pull-right text-muted">忘记密码？</span>
            </div>
            <button type="button" class="btn btn-info btn-block" (click)="login()">登入</button>
        </div>
    </form>
</div>