<nav class="head shadow-b fixed-top text-light" [ngClass]="headConfigs.bgClass" [ngStyle]="{'z-index': headConfigs.zIndex}">
    <div class="head-brand d-table h-100 w-100">
        <div class="d-table-cell align-middle" style="width:40px;">
            <img class="ml-2" [src]="appIcon" alt="tools icon">
        </div>
        <div class="d-table-cell align-middle pl-3" [ngStyle]="{'width':headConfigs.titleWidth}">
            <h4 class="m-0">{{appTitle}}</h4>
        </div>
        <div class="d-table-cell align-middle p-3 t-breadcrumb">
            <span routerLink="/" class="pointer">
                <i class="fa fa-fw fa-home"></i>
                首页
            </span>
            <ng-template ngFor let-item [ngForOf]="breadcrumbs">
                <span *ngIf="item.json.url!==null" routerLink="{{item.json.url}}" class="pointer">
                    <i class="{{item.json.icon}}"></i>{{item.json.title}}
                </span>
                <span *ngIf="item.json.url===null">
                    <i class="{{item.json.icon}}"></i>{{item.json.title}}
                </span>
            </ng-template>
        </div>
        <div class="d-table-cell align-middle pr-2">
            <div class="d-table w-100">
                <div class="d-table-cell">
                    <div class="form-inline pull-right">
                        <div class="input-group">
                            <input [(ngModel)]="keyword" (click)="showSearchPad=true;" type="text" class="border-0 search-input form-control shadow-0"
                                placeholder="关键词...">
                            <span class="input-group-addon bg-white border-0">
                                <i class="fa fa-fw fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-table-cell align-middle text-right head-icon-group">
                    <a (click)="signOut()" class="fa fa-fw fa-sign-out head-icon pointer" title="退出登入"></a>
                    <div class="d-inline-block header-menu">
                        <a class="fa fa-fw fa-cog head-icon pointer" title="系统设置"></a>
                        <ul>
                            <li class="empty-pad">
                                <a (click)="signOut()" class="fa fa-fw fa-sign-out head-icon pointer" title="退出登入"></a>
                            </li>
                            <li>
                                <div>
                                    <p (click)="changeTheme()" class="menu-item pointer">
                                        <i class="fa fa-exchange fa-rotate-90 fa-fw" aria-hidden="true"></i>切换主题</p>
                                    <p class="menu-item pointer">
                                        <i class="fa fa-code-fork fa-fw" aria-hidden="true"></i>当前版本
                                    </p>
                                    <p class="menu-item pointer">
                                        <i class="fa fa-bookmark-o fa-fw" aria-hidden="true"></i> 参考文档</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showSearchPad" class="position-fixed w-100 bg-light text-dark search-pad shadow-b">
        <h6 *ngIf="menus.length<=0" class="text-center search-empty">\(O=O)/ 没有查询到匹配的项目！</h6>
        <div class="search-list container">
            <button (click)="navigate(menu.url)" type="button" class="btn btn-link text-dark" *ngFor="let menu of menus">
                <i class="fa fa-thumb-tack fa-fw"></i>
                {{menu.title}}
            </button>
        </div>
        <p class="text-center text-muted pointer" (click)="showSearchPad=false">
            &gt;&gt;收起&lt;&lt;
        </p>
    </div>
</nav>