.head {
    height: 60px;
    padding: 3px;
}

.head-brand {
    padding-left: 3px;
}

.t-breadcrumb span {
    opacity: 1;
}

.t-breadcrumb span::after {
    content: '>';
}

.t-breadcrumb span:last-child {
    opacity: .8;
}

.t-breadcrumb span:last-child::after {
    content: '';
}

.head-icon {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.head-icon-group {
    width: 110px;
}

.search-pad {
    left: 0;
}

.search-empty {
    line-height: 50px;
}

.search-list {
    line-height: 50px;
}