<nav class="head bg-info shadow-b fixed-top text-light" [ngStyle]="{'z-index': headConfigs.zIndex}">
    <div class="head-brand d-table h-100 w-100">
        <div class="d-table-cell align-middle" style="width:40px;">
            <img class="ml-2" src="./favicon.ico" alt="tools icon">
        </div>
        <div class="d-table-cell align-middle pl-3" [ngStyle]="{'width':headConfigs.titleWidth}">
            <h4 class="m-0">ToolsUI</h4>
        </div>
        <div class="d-table-cell align-middle p-3 t-breadcrumb">
            <span routerLink="/" class="pointer">
                <i class="fa fa-fw fa-home"></i>
                首页
            </span>
            <ng-template ngFor let-item [ngForOf]="breadcrumbs">
                <span *ngIf="item.json.url!==null" routerLink="{{item.json.url}}" class="pointer">
                    <i class="{{item.json.icon}}"></i>{{item.json.title}}
                </span>
                <span *ngIf="item.json.url===null">
                    <i class="{{item.json.icon}}"></i>{{item.json.title}}
                </span>
            </ng-template>
        </div>
        <div class="d-table-cell align-middle pr-2">
            <div class="d-table w-100">
                <div class="d-table-cell">
                    <form class="form-inline pull-right">
                        <div class="input-group">
                            <input (blur)="showSearchPad=false" (click)="showSearchPad=true" type="text" class="form-control border-0 shadow-0" placeholder="关键词...">
                            <span class="input-group-addon bg-white border-0">
                                <i class="fa fa-fw fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="d-table-cell align-middle text-right head-icon-group">
                    <a (click)="signOut()" class="fa fa-fw fa-sign-out head-icon" title="退出登入"></a>
                    <a class="fa fa-fw fa-cog head-icon" title="系统设置"></a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showSearchPad" class="position-absolute w-100 bg-light text-dark search-pad shadow-b text-center">
        <!-- <h6 *ngIf="searchResults.length<=0" class="text-center search-empty">\(O=O)/ 没有查询到匹配的项目！</h6> -->
        <div class="search-list container">
            <button class="btn btn-link text-primary">
                <span class="badge badge-primary">D</span> 订单列表
            </button>
            <button class="btn btn-link text-success">
                <span class="badge badge-success">S</span> 商品列表
            </button>
            <button class="btn btn-link text-success">
                <span class="badge badge-success">S</span> 添加商品
            </button>
            <button class="btn btn-link text-success">
                <span class="badge badge-success">S</span> 商品分类
            </button>
        </div>
    </div>
</nav>