<nav class="head bg-info shadow-b fixed-top text-light" [ngStyle]="{'z-index': headConfigs.zIndex}">
    <div class="head-brand d-table h-100 w-100">
        <div class="d-table-cell align-middle" style="width:40px;">
            <img src="./favicon.ico" alt="tools icon">
        </div>
        <div class="d-table-cell align-middle pl-3" [ngStyle]="{'width':headConfigs.titleWidth}">
            <h4 class="m-0">ToolsUI</h4>
        </div>
        <div class="d-table-cell align-middle p-3 t-breadcrumb">
            <span routerLink="/" class="pointer">
                <i class="fa fa-fw fa-home"></i>
                首页
            </span>
            <ng-template ngFor let-item [ngForOf]="breadcrumbs">
                <span *ngIf="item.json.url!==null" routerLink="{{item.json.url}}" class="pointer">
                    <i class="{{item.json.icon}}"></i>{{item.json.title}}
                </span>
                <span *ngIf="item.json.url===null">
                    <i class="{{item.json.icon}}"></i>{{item.json.title}}
                </span>
            </ng-template>
        </div>
        <div class="d-table-cell align-middle pr-2">
            <div class="d-table w-100">
                <div class="d-table-cell">
                    <form class="form-inline pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 shadow-0" placeholder="关键词...">
                            <span class="input-group-addon bg-white border-0">
                                <i class="fa fa-fw fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="d-table-cell align-middle text-right head-icon-group">
                    <a class="fa fa-fw fa-sign-out head-icon" title="退出登入"></a>
                    <a class="fa fa-fw fa-cog head-icon" title="系统设置"></a>
                </div>
            </div>
        </div>
    </div>
</nav>