.head {
    height: 60px;
    padding: 3px;
    min-width: 900px;
}

.head-brand {
    padding-left: 3px;
}

.t-breadcrumb span {
    opacity: 1;
}

.t-breadcrumb span::after {
    content: '>';
}

.t-breadcrumb span:last-child {
    opacity: .8;
}

.t-breadcrumb span:last-child::after {
    content: '';
}

.head-icon {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.head-icon-group {
    width: 110px;
}

.search-pad {
    left: 0;
    top:60px;
}

.search-empty {
    line-height: 50px;
}

.search-list {
    line-height: 50px;
}
.search-input{
    width: 200px;
}
.h-0{
    height: 0;
    overflow: hidden;
}

.header-menu:hover>ul{
    display: inline-block;
}
.header-menu ul {
    display: none;
    position: absolute;
    color:black;
    top: 0;
    right: 2px;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

}
.header-menu .empty-pad{
    height: 60px;
    line-height: 60px;
    padding-left:97px;
    opacity: 0;
}
.header-menu ul div{
    background-color: white;
    box-shadow: 1px 2px 3px #ccc;
    line-height: 40px;
    padding: 0;
    margin: 0;
}
.header-menu .menu-item{
    padding-left: 20px;
    margin: 0;
}
.header-menu .menu-item:hover{
    background-color:#ccc;
}