<div class="row pt-4">
  <div class="col-xl-3 col-md-6 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="icon-item text-right">
          <i class="left-icon bg-danger text-center fa fa-bar-chart"></i>
          <p class="text-muted">平台统计</p>
          <h4 class="text-right text-danger">+10245</h4>
        </div>
        <hr>
        <p>
          <small class="text-danger">
            <i class="fa fa-bar-chart"></i>
            <span>平台运行统计数目 </span>
            <i class="fa fa-angle-right"></i>
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="icon-item text-right">
          <i class="left-icon bg-warning text-center fa fa-eye"></i>
          <p class="text-muted">访问量</p>
          <h4 class="text-right text-warning">+54</h4>
        </div>
        <hr>
        <p>
          <small class="text-warning">
            <i class="fa fa-eye"></i>
            <span>今日站点访问量 </span>
            <i class="fa fa-angle-right"></i>
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="icon-item text-right">
          <i class="left-icon bg-success text-center fa fa-wechat"></i>
          <p class="text-muted">新增用户</p>
          <h4 class="text-right text-success">+54</h4>
        </div>
        <hr>
        <p>
          <small class="text-success">
            <i class="fa fa-wechat"></i>
            <span>今日新增用户 </span>
            <i class="fa fa-angle-right"></i>
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-5">
    <div class="card">
      <div class="card-body">
        <div class="icon-item text-right">
          <i class="left-icon bg-info text-center fa fa-comments-o"></i>
          <p class="text-muted">反馈报告</p>
          <h4 class="text-right text-info">+200</h4>
        </div>
        <hr>
        <p>
          <small class="text-info">
            <i class="fa fa-comments-o"></i>
            <span>今日收到的用户反馈报告 </span>
            <i class="fa fa-angle-right"></i>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt--4">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="/assets/image/card/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card m-0">
      <img class="card-img-top" src="/assets/image/card/2.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="/assets/image/card/3.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>