<div class="card rounded-0 border-0 ts-box" *ngIf="show">
    <div class="card-body">
        <table class="ts-datepicker-table">
            <thead>
                <tr class="ts-weeks">
                    <th class="text-center {{i<5?'text-dark':(textClass!='text-dark'?textClass:'text-danger')}}" *ngFor="let title of weekTitles;index as i">{{title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-muted ts-month-title" colspan="7">{{getMonth(month)}} </td>
                </tr>
                <tr *ngFor="let tr of trList" class="{{textClass}}">
                    <td class="ts-day text-center rounded-circle {{isActiveDay(td)?activeClass:''}}" [ngClass]="{'ts-day-hover':td>0}" *ngFor="let td of tr" (click)="setDay(td)">{{td||''}}</td>
                </tr>
                <tr *ngIf="trList.length<5" class="{{textClass}}">
                    <td class="ts-day" colspan="7">&nbsp;</td>
                </tr>
                <tr *ngIf="trList.length<6" class="{{textClass}}">
                    <td class="ts-day" colspan="7">&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="7">
                        <div class="btn-group">
                            <button (click)="prevYear()" class="btn btn-sm {{btnClass}}">
                                <i class="fa fa-angle-left fa-fw" aria-hidden="true"></i>
                            </button>
                            <ts-dropdown btnClass="btn-sm {{btnClass}} rounded-0" [items]="yearList" [(value)]="year" [dropup]="true" [select]="true"></ts-dropdown>
                            <button (click)="nextYear()" class="btn btn-sm {{btnClass}}">
                                <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button (click)="prevMonth()" type="button" class="btn btn-sm {{btnClass}}">
                                <i class="fa fa-angle-left fa-lg fa-fw" aria-hidden="true"></i>
                            </button>
                            <ts-dropdown btnClass="btn-sm {{btnClass}} rounded-0" [items]="monthTitles" [(value)]="month" [useNumber]="1" [dropup]="true" [select]="true"></ts-dropdown>
                            <button (click)="nextMonth()" class="btn btn-sm {{btnClass}}">
                                <i class="fa fa-angle-right fa-lg fa-fw" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>