<div class="card rounded-0">
    <div class="card-header bg-white">
        轮播图编辑
        <span class="pull-right">
            <button (click)="sortLoopCard()" type="button" class="btn btn-sm btn-link text-warning"><i class="fa fa-refresh fa-fw"></i>确认排序</button>
            <button (click)="addLoopCard()" type="button" class="btn btn-sm btn-link text-success"><i class="fa fa-plus fa-fw"></i>添加新轮播图</button>
        </span>
    </div>
    <div class="card-body" [sortablejs]="loopCards" [sortablejsOptions]="{ animation: 300 }">
        <ts-loop-card *ngFor="let loopCard of loopCards;index as i" [loopCard]="loopCard" (onSave)="saveLoopCard(i)" (onRemove)="deleteLoopCard(i)"></ts-loop-card>
    </div>
</div>