<div [ngClass]="{'d-none':outlet.isActivated}">
    <div class="card rounded-0">
        <div class="card-header bg-white">
            <i class="fa fa-search fa-fw" aria-hidden="true"></i>条件筛选</div>
        <div class="card-body">
            <div class="input-group">
                <span class="input-group-addon bg-white">名称</span>
                <input [(ngModel)]="this.search.params.name" type="text" class="form-control" placeholder="请输入查询名称的关键词">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon bg-white">质量</span>
                <input [(ngModel)]="this.search.params.start" type="text" class="form-control" placeholder="筛选的最小质量">
                <span class="input-group-addon  bg-white">到</span>
                <input [(ngModel)]="this.search.params.end" type="text" class="form-control" placeholder="筛选的最大质量">
                <span class="input-group-addon bg-white">克</span>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-addon bg-white">共查询到</span>
                        <input type="text" value="{{pagination.total}}" class="form-control text-center bg-white" readonly placeholder="0">
                        <span class="input-group-addon bg-white">条/结果</span>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <button (click)="resetSearch()" class="btn btn-white">
                        <i class="fa fa-refresh fa-fw"></i>
                        <span>重置</span>
                    </button>
                    <button (click)="doSearch()" class="btn btn-white">
                        <i class="fa fa-search fa-fw"></i>
                        <span>搜索</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card rounded-0">
        <div class="card-body">
            <table class="table bg-white mb-0 text-center">
                <thead class="text-dark">
                    <tr>
                        <th *ngFor="let th of theads" class="border-0">{{th}}</th>
                    </tr>
                </thead>
                <tbody ts-flash-loading #loading="tsFlash" label="加载中..." [textClass]="'text-info'" [bgColor]="'rgba(255,255,255,0.8)'">
                    <tr *ngFor="let item of list;index as i" class="mat-cell">
                        <td>{{item.position}}</td>
                        <td>
                            <img class="rounded-circle" ts-loading default="/assets/image/card/1.jpg" width="30" height="30" src="{{item.thumb}}">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.weight}}</td>
                        <td>{{item.symbol}}</td>
                        <td>
                            <div class="btn-group" ts-dropdown>

                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                    <i class="fa fa-eye fa-fw"></i>审核</button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item"></button>
                                    <button class="dropdown-item">审核通过</button>
                                    <button class="dropdown-item">驳回/拒绝</button>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item">重新审核</button>
                                </div>
                            </div>
                            <button routerLink="/table/simple/detail/{{item.position}}" class="btn btn-info btn-sm">
                                <i class="fa fa-info-circle fa-fw"></i>详情</button>
                            <button (click)="deleteItem(i)" class="btn btn-danger btn-sm">
                                <i class="fa fa-close fa-fw"></i>删除</button>
                        </td>
                    </tr>
                    <tr class="mat-cell" *ngIf="list.length<=0">
                        <td [attr.colspan]="theads.length" class="text-center text-info">
                            暂无数据～
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <ts-dropdown [items]="[{text:'显示 5 条',value:5},{text:'显示 10 条',value:10},{text:'显示 20 条',value:20}]" title="Dropdown" [select]="true"
                    [(value)]="this.pagination.limit" (valueChange)="this.pagination.page=1;pageChanged()" btnClass="btn-outline-info border-muted"
                    [dropup]="true"></ts-dropdown>
                <ts-pagination [(pagination)]='pagination' (pageChange)="pageChanged()" startTitle="首页" prevTitle="上一页" nextTitle="下一页" endTitle="尾页"
                    colors="btn-outline-info border-muted"></ts-pagination>
            </div>
        </div>
    </div>
</div>
<router-outlet #outlet="outlet"></router-outlet>