<div class="d-table w-100">
    <div class="d-table-cell align-top" style="width:24rem">
        <div class="card rounded-0">
            <div class="card-header bg-white">视频上传</div>
            <div class="card-body">
                <ts-video src="http://ng.cool1024.com/mmd.mp4" title="选择视频" [config]="defaultConfig"></ts-video>
                <ts-video src="http://ng.cool1024.com/mmd.mp4" title="选择视频" [config]="autoConfig"></ts-video>
            </div>
        </div>
    </div>
    <div class="d-table-cell align-top pl-2">
        <div class="card rounded-0 w-100">
            <div class="card-header bg-white">进度条</div>
            <div class="card-body">
                <ts-progress bgColor="bg-info" [useLable]="true" [striped]="true" [animated]="true" [value]="87"></ts-progress>
                <br>
                <ts-progress bgColor="bg-primary" [useLable]="true" [striped]="true" [animated]="true" [value]="80"></ts-progress>
                <br>
                <ts-progress bgColor="bg-danger" [useLable]="true" [striped]="true" [animated]="true" [value]="90"></ts-progress>
                <br>
                <ts-progress bgColor="bg-dark" [useLable]="true" [striped]="true" [animated]="true" [value]="100"></ts-progress>
                <br>
            </div>
        </div>
        <div class="card rounded-0 w-100 mt-2">
            <div class="card-header bg-white">自定义文件</div>
            <div class="card-body" style="height: 282px;">
                <input type="file" ts-file #fileObj="tsFile" accept=".xls,.xlsx" (fileChange)="file=$event;">
                <button (click)="fileObj.openFileDialog()" class="btn btn-white" type="button">
                    <i class="fa fa-folder-o fa-fw"></i>选择文件</button>
                <div class="btn-group ml-3" role="group">
                    <button (click)="fileObj.openFileDialog()" class="btn btn-white" type="button">
                        <i class="fa fa-folder-o fa-fw"></i>选择文件</button>
                    <button (click)="fileObj.removeFile()" class="btn btn-white">
                        <i class="fa fa-remove fa-fw"></i>
                    </button>
                </div>
                <div class="btn-group ml-3" role="group">
                    <button (click)="fileObj.openFileDialog()" class="btn btn-outline-info" type="button">
                        <i class="fa fa-folder-o fa-fw"></i>选择文件</button>
                    <button (click)="fileObj.removeFile()" class="btn btn-outline-info">
                        <i class="fa fa-remove fa-fw"></i>
                    </button>
                </div>
                <br>
                <pre *ngIf="!!file" class="text-info pt-2">
FileName : {{file.name}}
FileSize : {{file.size}}
FileType : {{file.type||'未知类型'}}
FileDate : {{file.lastModifiedDate}}
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="card rounded-0 w-100 mt-2">
    <div class="card-header bg-white">Excel表格读取</div>
    <div class="card-body">
        <input type="file" ts-file #excelObj="tsFile" accept=".xls,.xlsx" (fileChange)="file=$event;readExcel($event)">
        <button (click)="excelObj.openFileDialog()" class="btn btn-white" type="button">
            <i class="fa fa-folder-o fa-fw"></i>选择文件(Excel)
        </button>
        <br>
        <table class="table bg-white mb-0 text-center">
            <thead class="text-dark">
                <tr>
                    <th *ngFor="let th of theads" class="border-0">{{th}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tr of tbodys">
                    <td *ngFor="let th of theads">{{tr[th]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>