<div class="card rounded-0">
    <div class="card-header bg-white">视频上传</div>
    <div class="card-body">
        <div class="d-table w-100">
            <div class="d-table-cell">
                <ts-video src="http://ng.cool1024.com/mmd.mp4" title="选择视频" [config]="defaultConfig"></ts-video>
            </div>
            <div class="d-table-cell">
                <ts-video src="http://ng.cool1024.com/mmd.mp4" title="选择视频" [config]="autoConfig"></ts-video>
            </div>
            <div class="d-table-cell">
                <ts-video src="http://ng.cool1024.com/mmd.mp4" title="选择视频" [config]="autoConfig"></ts-video>
            </div>
        </div>
    </div>
</div>