/*bootstrap4 样式调整*/

* {
    font-family: Helvetica Neue For Number, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a,
button,
input,
select {
    outline: 0 none !important;
    text-decoration: none !important;
}

div {
    outline: 0 none !important;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.btn:disabled {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 5px;
    padding-right: 5px;
}


/*bootstrap4 样式拓展*/

.pointer {
    cursor: pointer;
}

.shadow-b {
    box-shadow: 0px 1px 2px #cccccc;
}

.shadow-r {
    box-shadow: 1px -0px 2px #cccccc;
}

.shadow-br {
    box-shadow: 1px 1px 2px #cccccc;
}

.shadow-0 {
    box-shadow: none !important;
}

.border-l-3 {
    border-left: 3px solid transparent;
}

.border-muted {
    border-color: #efefef !important;
}

.border-default {
    border-color: #ced4da !important;
}

.btn-white {
    background-color: white;
    border-color: #ced4da !important;
}

.btn-white:hover {
    background-color: rgb(240, 240, 240) !important;
}

.btn-white:active {
    background-color: rgb(230, 230, 230) !important;
}

.btn-sm span {
    font-size: 12.5px !important;
}

.mt--4 {
    margin-top: -1.5rem !important;
}