/*bootstrap4 样式调整*/

* {
    font-family: Helvetica Neue For Number, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a,
button,
input,
select {
    outline: 0 none !important;
    text-decoration: none !important;
    z-index: 0 !important;
    box-shadow: 0px 0px 0px white !important;
}

div,
span {
    outline: 0 none !important;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.btn:disabled {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
}

.table td,
.table th {
    vertical-align: middle;
}


/*bootstrap4 样式拓展*/

.pointer {
    cursor: pointer;
}

.shadow-b {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.shadow-r {
    box-shadow: 1px -0px 2px rgba(0, 0, 0, 0.2);
}

.shadow-br {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.shadow-0 {
    box-shadow: none !important;
}

.border-l-3 {
    border-left: 3px solid transparent;
}

.tab-border-primary {
    border-top: 3px solid #007bff !important;
}

.tab-border-info {
    border-top: 3px solid #17a2b8 !important;
}

.border-muted {
    border-color: #efefef !important;
}

.border-default {
    border-color: #ced4da !important;
}

.btn-white {
    background-color: white;
    border-color: #ced4da !important;
}

.btn-white:hover {
    background-color: rgb(240, 240, 240) !important;
}

.btn-white:active {
    background-color: rgb(230, 230, 230) !important;
}

.btn-sm {
    font-size: 12.5px !important;
}

.btn-sm span {
    font-size: 12.5px !important;
}

.mt--5 {
    margin-top: -3rem !important;
}

.mt--4 {
    margin-top: -1.5rem !important;
}

.mt--3 {
    margin-top: -0.75rem !important;
}

.hr-light {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.badge {
    font-size: 80%；
}

.pagination-input {
    width: 70px;
    display: inline-block !important;
    vertical-align: middle;
}

.text-default {
    color: #ccc;
}

.required-label::before {
    content: '* ';
    color: red;
}

.table-responsive>.table-bordered {
    border: 1px solid #dee2e6;
}