.shadow-b {
    box-shadow: 1px 0px 2px #cccccc;
}

.shadow-br {
    box-shadow: 1px 1px 2px #cccccc;
}

* {
    font-family: Helvetica Neue For Number,  Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    ;
}