<div class="card rounded-0">
    <div class="card-header bg-white">确认对话框</div>
    <div class="card-body">
        <button (click)="confirm.danger('危险', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-danger">危险操作</button>
        <button (click)="confirm.primary('提示', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-primary">重要操作</button>
        <button (click)="confirm.info('信息', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-info">一般操作</button>
        <button (click)="confirm.warning('警告', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-warning">警告操作</button>
        <button (click)="confirm.dark('Dark', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-dark">Dark</button>
        <button (click)="confirm.light('Light', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-light">Light</button>
        <button (click)="confirm.secondary('Secondary', '您正在进行一个操作，确认这么做？', { okTitle: '确认', cancelTitle: '取消' });
        " type="button" class="btn btn-secondary">Secondary</button>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">提示消息</div>
    <div class="card-body">
        <button (click)="toast.danger('危险', '这是一条提示消息~');
        " type="button" class="btn btn-danger">危险消息</button>
        <button (click)="toast.primary('提示', '这是一条提示消息~');
        " type="button" class="btn btn-primary">重要消息</button>
        <button (click)="toast.info('信息', '这是一条提示消息~');
        " type="button" class="btn btn-info">一般消息</button>
        <button (click)="toast.warning('警告', '这是一条提示消息~');
        " type="button" class="btn btn-warning">警告消息</button>
        <button (click)="toast.dark('Dark', '这是一条提示消息~');
        " type="button" class="btn btn-dark">Dark</button>
        <button (click)="toast.light('Light', '这是一条提示消息~');
        " type="button" class="btn btn-light">Light</button>
        <button (click)="toast.secondary('Secondary', '这是一条提示消息~');
        " type="button" class="btn btn-secondary">Secondary</button>
        <!-- <button (click)="toast.create('自定义消息', '5秒后消失，背景颜色为 bg-info', { bgClass: 'bg-info text-white',  timeOut:5000, closeClass:'text-white' });
        " type="button" class="btn btn-outline-info">自定义</button> -->
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">悬浮提示</div>
    <div class="card-body">
        <button ts-dom-toggle [target]="popover1" type="button" class="btn btn-white">点我显示</button>
        <button ts-dom-hover [target]="popover2" type="button" class="btn btn-white">覆盖显示</button>
        <button ts-dom-toggle [target]="popover3" type="button" class="btn btn-info" disabled>Target Dom</button>
        <button (click)="popoverPosition='left';popover3.toggle()" type="button" class="btn btn-white">左侧显示</button>
        <button (click)="popoverPosition='top';popover3.toggle()" type="button" class="btn btn-white">上方显示</button>
        <button (click)="popoverPosition='bottom';popover3.toggle()" type="button" class="btn btn-white">下方显示</button>
        <button (click)="popoverPosition='right';popover3.toggle()" type="button" class="btn btn-white">右侧显示</button>
        <ts-popover #popover1="tsPopover" title="提示消息" message="你发现了一条新的提示消息~"></ts-popover>
        <ts-popover #popover2="tsPopover" message="你发现了一条新的提示消息~"></ts-popover>
        <ts-popover #popover3="tsPopover" message="你发现了一条新的提示消息~" [position]="popoverPosition" bodyClass="text-info"></ts-popover>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">步骤条</div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <ts-step [index]="1" title="第一步" content="接通电源" [finished]="true"></ts-step>
                <ts-step [index]="1" title="第二步" content="按下开机按钮" [loading]="true"></ts-step>
                <ts-step [index]="2" title="第三步" content="打开显示器"></ts-step>
                <ts-step [index]="3" title="第四步" content="打开打印机"></ts-step>
                <ts-step [index]="4" title="第五步" content="打开空调"></ts-step>
                <ts-step [index]="5" title="第六步" content="按下闸门开关" [end]="true"></ts-step>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <ts-step [index]="1" color="info" title="第一步" content="接通电源" [finished]="true"></ts-step>
                <ts-step [index]="1" color="info" title="第二步" content="按下开机按钮" [loading]="true"></ts-step>
                <ts-step [index]="2" color="info" title="第三步" content="打开显示器"></ts-step>
                <ts-step [index]="3" color="info" title="第四步" content="打开打印机"></ts-step>
                <ts-step [index]="4" color="info" title="第五步" content="打开空调"></ts-step>
                <ts-step [index]="5" color="info" title="第六步" content="按下闸门开关" [end]="true"></ts-step>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <ts-step [index]="1" color="danger" title="第一步" content="接通电源" [finished]="true"></ts-step>
                <ts-step [index]="1" color="danger" title="第二步" content="按下开机按钮" [loading]="true"></ts-step>
                <ts-step [index]="2" color="danger" title="第三步" content="打开显示器"></ts-step>
                <ts-step [index]="3" color="danger" title="第四步" content="打开打印机"></ts-step>
                <ts-step [index]="4" color="danger" title="第五步" content="打开空调"></ts-step>
                <ts-step [index]="5" color="danger" title="第六步" content="按下闸门开关" [end]="true"></ts-step>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <ts-step [index]="1" color="success" title="第一步" content="接通电源" [finished]="true"></ts-step>
                <ts-step [index]="1" color="success" title="第二步" content="按下开机按钮" [finished]="true"></ts-step>
                <ts-step [index]="2" title="第三步" [loading]="true" content="打开显示器"></ts-step>
                <ts-step [index]="3" title="第四步" content="打开打印机"></ts-step>
                <ts-step [index]="4" title="第五步" content="打开空调"></ts-step>
                <ts-step [index]="5" title="第六步" content="按下闸门开关" [end]="true"></ts-step>
            </div>
        </div>
    </div>
</div>