<ts-datepicker #datepicker1="datePicker" btnClass="btn-info" activeClass="bg-info text-white" [(activeDate)]="date" [weekTitles]="weekTitles"
    [monthTitles]="monthTitles"></ts-datepicker>
<ts-datepicker #datepicker2="datePicker" btnClass="btn-info" activeClass="bg-info text-white" [(activeDate)]="date" [weekTitles]="weekTitles"
    [monthTitles]="monthTitles"></ts-datepicker>
<ts-datepicker #datepicker3="datePicker" btnClass="btn-info" activeClass="bg-info text-white" [(activeDate)]="dateEmpty"
    [weekTitles]="weekTitles" [monthTitles]="monthTitles"></ts-datepicker>
<div class="card rounded-0">
    <div class="card-header bg-white">
        日期选择
    </div>
    <div class="card-body">
        <form class="form-inline">
            <button ts-dom-toggle [target]='datepicker1' type="button" class="btn btn-info mr-2 mb-1">选择日期</button>
            <div class="input-group mr-2 mb-1" style="width:20rem;">
                <input ts-dom-toggle [target]='datepicker2' value="{{date.year+'/'+date.month+'/'+date.day}}" type="text" class="form-control bg-white"
                    placeholder="选择日期" readonly>
                <span class="input-group-btn">
                    <button (click)="datepicker2.toggle()" class="btn btn-white" type="button">
                        <i class="fa fa-calendar fa-fw"></i>
                    </button>
                </span>
            </div>
            <div class="input-group mb-1" style="width:20rem;">
                <input ts-dom-toggle [target]='datepicker3' value="{{dateEmpty?dateEmpty.year+'/'+dateEmpty.month+'/'+dateEmpty.day:''}}"
                    type="text" class="form-control bg-white" placeholder="选择日期" readonly>
                <span class="input-group-btn">
                    <button (click)="datepicker3.toggle()" class="btn btn-white" type="button">
                        <i class="fa fa-calendar fa-fw"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">
        时间选择
    </div>
    <div class="card-body">
        <ts-timepicker #timpicker1="timePicker" [(activeTime)]="time" confirmBtnClass="btn-outline-info border-0" cancelBtnClass="btn-outline-danger border-0"
            confirmText="确认" cancelText="取消" title="请选择时间"></ts-timepicker>
        <ts-timepicker #timpicker2="timePicker" [(activeTime)]="time" confirmBtnClass="btn-outline-info border-0" cancelBtnClass="btn-outline-danger border-0"
            confirmText="确认" cancelText="取消" title="请选择时间"></ts-timepicker>
        <ts-timepicker #timpicker3="timePicker" [(activeTime)]="timeEmpty" confirmBtnClass="btn-outline-info border-0" cancelBtnClass="btn-outline-danger border-0"
            confirmText="确认" cancelText="取消" title="请选择时间"></ts-timepicker>
        <form class="form-inline">
            <button ts-dom-toggle [target]="timpicker1" type="button" class="btn btn-info mr-2 mb-1">选择时间</button>
            <div class="input-group mr-2 mb-1" style="width:20rem;">
                <input ts-dom-toggle [target]="timpicker2" value="{{time.hour+':'+time.minute+':'+time.second}}" type="text" class="form-control bg-white"
                    placeholder="选择时间" readonly>
                <span class="input-group-btn">
                    <button (click)="timpicker2.toggle()" class="btn btn-white" type="button">
                        <i class="fa fa-clock-o fa-fw"></i>
                    </button>
                </span>
            </div>
            <div class="input-group mb-1" style="width:20rem;">
                <input ts-dom-toggle [target]="timpicker3" value="{{timeEmpty?timeEmpty.hour+':'+timeEmpty.minute+':'+timeEmpty.second:''}}"
                    type="text" class="form-control bg-white" placeholder="选择时间" readonly>
                <span class="input-group-btn">
                    <button (click)="timpicker3.toggle()" class="btn btn-white" type="button">
                        <i class="fa fa-clock-o fa-fw"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>