<div [ngClass]="{'d-none':outlet.isActivated}">
    <div class="card rounded-0">
        <div class="card-header bg-white">
            <i class="fa fa-search fa-fw" aria-hidden="true"></i>条件筛选</div>
        <div class="card-body">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">商品名称</span>
                </div>
                <input [(ngModel)]="this.search.params.name" type="text" class="form-control" placeholder="请输入商品名称的关键词">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">商品状态</span>
                </div>
                <div class="form-control p-0" style="display: block;">
                    <ts-select [items]="goods_status" width="100%" emptyLabel="没有匹配的选项." placeholder="选择商品状态" [(value)]="search.params.status"
                        selectClass="border-0" width="100%"></ts-select>
                </div>
                <div class="input-group-prepend input-group-append">
                    <span class="input-group-text bg-white">商品种类</span>
                </div>
                <div class="form-control p-0" style="display: block;">
                    <ts-select [items]="goods_types" width="100%" emptyLabel="没有匹配的选项." placeholder="选择商品种类" [(value)]="search.params.type" selectClass="border-0"
                        width="100%"></ts-select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white">共查询到</span>
                        </div>
                        <input type="text" value="{{pagination.total}}" class="form-control text-center bg-white" readonly placeholder="0">
                        <div class="input-group-append">
                            <span class="input-group-text bg-white">条/结果</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <button routerLink="/goods/list/info" class="btn btn-success">
                        <i class="fa fa-plus fa-fw"></i>
                        <span>添加商品</span>
                    </button>
                    <button (click)="resetSearch()" class="btn btn-white">
                        <i class="fa fa-refresh fa-fw"></i>
                        <span>重置</span>
                    </button>
                    <button (click)="doSearch()" class="btn btn-white">
                        <i class="fa fa-search fa-fw"></i>
                        <span>搜索</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card rounded-0">
        <div class="card-body">
            <table class="table bg-white mb-0 text-left">
                <thead class="text-dark">
                    <tr>
                        <th *ngFor="let th of theads" class="border-0">{{th}}</th>
                    </tr>
                </thead>
                <tbody ts-flash-loading #loading="tsFlash" label="加载中..." [textClass]="'text-info'" [bgColor]="'rgba(255,255,255,0.8)'">
                    <tr *ngFor="let item of list;index as i" class="mat-cell">
                        <td>{{pagination.offset+i+1}}</td>
                        <td>
                            <img class="rounded-circle border border-muted" ts-loading default="/assets/image/material/image-lost.jpg" width="30" height="30"
                                [src]="source+'/'+item.thumb">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.type.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.inventory}}</td>
                        <td>
                            <span class="badge badge-pill badge-success" *ngIf="item.status===1">上架</span>
                            <span class="badge badge-pill badge-secondary" *ngIf="item.status===0">下架</span>
                        </td>
                        <td>
                            <div class="btn-group" ts-dropdown>

                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
                                    <i class="fa fa-pencil fa-fw"></i>修改状态</button>
                                <div class="dropdown-menu">
                                    <button (click)="changeGoodsStatus(i,0)" type="button" class="dropdown-item">下架</button>
                                    <button (click)="changeGoodsStatus(i,1)" class="dropdown-item">上架</button>
                                </div>
                            </div>
                            <button routerLink="/goods/list/info/{{item.id}}" class="btn btn-info btn-sm">
                                <i class="fa fa-info-circle fa-fw"></i>详情</button>
                            <button (click)="deleteItem(i)" class="btn btn-danger btn-sm">
                                <i class="fa fa-close fa-fw"></i>删除</button>
                        </td>
                    </tr>
                    <tr class="mat-cell" *ngIf="list.length<=0">
                        <td [attr.colspan]="theads.length" class="text-center text-info">
                            暂无数据～
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button (click)="goPage(page)" class="btn btn-outline-info border-muted" type="button">跳转到</button>
                <input ngModel #page="ngModel" [min]="1" class="form-control pagination-input form-sm-control border-muted" type="number">
                <ts-dropdown [items]="[{text:'显示 5 条',value:5},{text:'显示 10 条',value:10},{text:'显示 20 条',value:20}]" title="Dropdown" [select]="true"
                    [(value)]="this.pagination.limit" (valueChange)="this.pagination.page=1;pageChanged()" btnClass="btn-outline-info border-muted"
                    [dropup]="true"></ts-dropdown>
                <ts-pagination [(pagination)]='pagination' (pageChange)="pageChanged()" startTitle="首页" prevTitle="上一页" nextTitle="下一页" endTitle="尾页"
                    colors="btn-outline-info border-muted"></ts-pagination>
            </div>
        </div>
    </div>
</div>
<router-outlet #outlet="outlet"></router-outlet>