<div class="card rounded-0 p-2 d-inline-block m-1" style="width:20rem;">
    <input #file type="file" style="display:none" accept="image/*" (change)="changeFile($event.target.files)">
    <img (click)="file.click()" class="card-img-top pointer" [src]="realSrc||'assets/image/material/file-open.svg'" style="height:10rem;width:100%;">
    <hr style="width:100%;" class="mt-2 mb-0">
    <div class="input-group input-group-sm mt-2">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white">链接</span>
        </div>
        <input (ngModelChange)="loopCard.active=false" name="url" [(ngModel)]="loopCard.url" type="text" class="form-control" placeholder="请输入链接地址">
    </div>
    <div class="text-right mt-2">
        <span [class.d-none]="loopCard.active === true" class="pull-left badge badge-danger">未保存</span>
        <span [class.d-none]="loopCard.active !== true" class="pull-left badge badge-success">生效</span>
        <button (click)="save()" type="button" class="btn btn-sm btn-info">
            <i class="fa fa-check fa-fw"></i>修改</button>
        <button (click)="remove()" type="button" class="btn btn-sm btn-danger">
            <i class="fa fa-close fa-fw"></i>删除</button>
    </div>
</div>