<div class="card rounded-0">
    <div class="card-header bg-white">基本信息</div>
    <div class="card-body">
        <form [formGroup]="goodsForm" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="name">
                        <span class="text-danger">*</span>
                        <span>商品名称</span>
                    </label>
                    <input [ngClass]="{'is-invalid':!goodsForm.get('name').pristine&&goodsForm.get('name').invalid}" formControlName="name" id="name"
                        type="text" class="form-control">
                    <div class="invalid-feedback">商品名称是必填的～</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="no">
                        <span class="text-danger">*</span>
                        <span>商品编号</span>
                    </label>
                    <input [ngClass]="{'is-invalid':!goodsForm.get('no').pristine&&goodsForm.get('no').invalid}" formControlName="no" id="goods_no"
                        name="goods_no" type="text" class="form-control">
                    <div class="invalid-feedback">商品编号是必填的且必须是且不能超过8个字符～</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="_input-inventory">
                        <span class="text-danger">*</span>
                        <span>库存</span>
                    </label>
                    <input [ngClass]="{'is-invalid':!goodsForm.get('inventory').pristine&&goodsForm.get('inventory').invalid}" formControlName="inventory"
                        id="_input-inventory" name="inventory" type="number" class="form-control">
                    <div class="invalid-feedback">商品库存必填的且必须是0-99999的数字～</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="_input-price">
                        <span class="text-danger">*</span>
                        <span>单价</span>
                    </label>
                    <input [ngClass]="{'is-invalid':!goodsForm.get('price').pristine&&goodsForm.get('price').invalid}" formControlName="price"
                        id="_input-price" name="price" type="text" class="form-control">
                    <div class="invalid-feedback">商品价格必填的且必须大于0且最多两位小数～</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>
                        <span class="text-danger">*</span>
                        <span>商品种类</span>
                    </label>
                    <ts-select placeholder="请选择商品种类" [items]="goods_types" width="100%" [(value)]="goods.type"></ts-select>
                    <div class="invalid-feedback" [class.d-block]="">商品编号是必填的且必须是且不能超过20个字符～</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>
                        <span class="text-danger">*</span>
                        <span>商品状态</span>
                    </label>
                    <div class="w-100">
                        <div class="form-control border-0">
                            <ts-switch #switch activeClass="bg-info" [values]="{open:1,close:0}" [(value)]="goods.status"></ts-switch>
                            <span *ngIf="goods.status===1" class="text-info pointer" (click)="switch.toggle()">上架</span>
                            <span *ngIf="goods.status===0" class="text-muted pointer" (click)="switch.toggle()">下架</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="card rounded-0">
    <div class="card-header bg-white">详细信息</div>
    <div class="card-body">
        <ts-image openBtnClassName="btn btn-white" openTitle="选择图片" [(src)]="goods.thumb" resetBtnClassName="btn btn-white" removeBtnClassName="btn btn-white"
            uploadBtnClassName="btn btn-white" [config]="autpUploadConfig"></ts-image>
    </div>
</div>
<br>
<div class="text-right">
    <!-- <span>表单数据：{{datas|json}}</span> -->
    <button routerLink="/goods/list" class="btn btn-white" type="button">返回列表</button>
    <button (click)="confirmChange()" [disabled]="goodsForm.invalid" class="btn btn-success" type="button">确认提交</button>
</div>